In [60]:
import pandas as pd
import numpy as np

import requests
import io
from pypdf import PdfReader
pd.options.display.max_columns = None

In [108]:
df = pd.read_csv("data/individual_market_medical.csv")
df.head(2)

,Unnamed: 0,State Code,FIPS County Code,County Name,Metal Level,Issuer Name,HIOS Issuer ID,Plan ID (Standard Component),Plan Marketing Name,Standardized Plan Option,Plan Type,Rating Area,Child Only Offering,Source,Customer Service Phone Number Local,Customer Service Phone Number Toll Free,Customer Service Phone Number TTY,Network URL,Plan Brochure URL,Summary of Benefits URL,Drug Formulary URL,Adult Dental,Child Dental,EHB Percent of Total Premium,Premium Scenarios,Premium Child Age 0-14,Premium Child Age 18,Premium Adult Individual Age 21,Premium Adult Individual Age 27,Premium Adult Individual Age 30,Premium Adult Individual Age 40,Premium Adult Individual Age 50,Premium Adult Individual Age 60,Premium Couple 21,Premium Couple 30,Premium Couple 40,Premium Couple 50,Premium Couple 60,"Couple+1 child, Age 21","Couple+1 child, Age 30","Couple+1 child, Age 40","Couple+1 child, Age 50","Couple+2 children, Age 21","Couple+2 children, Age 30","Couple+2 children, Age 40","Couple+2 children, Age 50","Couple+3 or more Children, Age 21","Couple+3 or more Children, Age 30","Couple+3 or more Children, Age 40","Couple+3 or more Children, Age 50","Individual+1 child, Age 21","Individual+1 child, Age 30","Individual+1 child, Age 40","Individual+1 child, Age 50","Individual+2 children, Age 21","Individual+2 children, Age 30","Individual+2 children, Age 40","Individual+2 children, Age 50","Individual+3 or more children, Age 21","Individual+3 or more children, Age 30","Individual+3 or more children, Age 40","Individual+3 or more children, Age 50",Standard Plan Cost Sharing,Medical Deductible - Individual - Standard,Drug Deductible - Individual - Standard,Medical Deductible - Family - Standard,Drug Deductible - Family - Standard,Medical Deductible - Family (Per Person) - Standard,Drug Deductible - Family (Per Person) - Standard,Medical Maximum Out Of Pocket - Individual - Standard,Drug Maximum Out Of Pocket - Individual - Standard,Medical Maximum Out Of Pocket - Family - Standard,Drug Maximum Out Of Pocket - Family - Standard,Medical Maximum Out Of Pocket - Family (Per Person) - Standard,Drug Maximum Out Of Pocket - Family (Per Person) - Standard,Primary Care Physician - Standard,Specialist - Standard,Emergency Room - Standard,Inpatient Facility - Standard,Inpatient Physician - Standard,Generic Drugs - Standard,Preferred Brand Drugs - Standard,Non-preferred Brand Drugs - Standard,Specialty Drugs - Standard,73 Percent Actuarial Value Silver Plan Cost Sharing,Medical Deductible - Individual - 73 Percent,Drug Deductible - Individual - 73 Percent,Medical Deductible - Family - 73 Percent,Drug Deductible - Family - 73 Percent,Medical Deductible - Family (Per Person) - 73 Percent,Drug Deductible - Family (Per Person) - 73 Percent,Medical Maximum Out Of Pocket - Individual - 73 Percent,Drug Maximum Out Of Pocket - Individual - 73 Percent,Medical Maximum Out Of Pocket - Family - 73 Percent,Drug Maximum Out Of Pocket - Family - 73 Percent,Medical Maximum Out Of Pocket - Family (Per Person) - 73 Percent,Drug Maximum Out Of Pocket - Family (Per Person) - 73 Percent,Primary Care Physician - 73 Percent,Specialist - 73 Percent,Emergency Room - 73 Percent,Inpatient Facility - 73 Percent,Inpatient Physician - 73 Percent,Generic Drugs - 73 Percent,Preferred Brand Drugs - 73 Percent,Non-preferred Brand Drugs - 73 Percent,Specialty Drugs - 73 Percent,87 Percent Actuarial Value Silver Plan Cost Sharing,Medical Deductible - Individual - 87 Percent,Drug Deductible - Individual - 87 Percent,Medical Deductible - Family - 87 Percent,Drug Deductible - Family - 87 Percent,Medical Deductible - Family (Per Person) - 87 Percent,Drug Deductible - Family (Per Person) - 87 Percent,Medical Maximum Out Of Pocket - Individual - 87 Percent,Drug Maximum Out Of Pocket - Individual - 87 Percent,Medical Maximum Out Of Pocket - Family - 87 Percent,Drug Maximum Out Of Pocket - Family - 87 Percent,Medical Maximum Out Of Pocket - Family (Per Person) - 87 Percent,Drug Maximum Out Of Pocket - Family (Per Person) - 87 Percent,Primary Care Physician - 87 Percent,Specialist - 87 Percent,Emergency Room - 87 Percent,Inpatient Facility - 87 Percent,Inpatient Physician - 87 Percent,Generic Drugs - 87 Percent,Preferred Brand Drugs - 87 Percent,Non-preferred Brand Drugs - 87 Percent,Specialty Drugs - 87 Percent,94 Percent Actuarial Value Silver Plan Cost Sharing,Medical Deductible - Individual - 94 Percent,Drug Deductible - Individual - 94 Percent,Medical Deductible - Family - 94 Percent,Drug Deductible - Family - 94 Percent,Medical Deductible - Family (Per Person) - 94 Percent,Drug Deductible - Family (Per Person) - 94 Percent,Medical Maximum Out Of Pocket -individual - 94 Percent,Drug Maximum Out Of Pocket - individual - 94 Percent,Medical Maximum Out Of Pocket - family - 94 Percent,Drug Maximum Out Of Pocket - Family - 94 Percent,Medical Maximum Out Of Pocket - Family (Per Person) - 94 Percent,Drug Maximum Out Of Pocket - Family (Per Person) - 94 Percent,Primary Care Physician - 94 Percent,Specialist - 94 Percent,Emergency Room - 94 Percent,Inpatient Facility - 94 Percent,Inpatient Physician - 94 Percent,Generic Drugs - 94 Percent,Preferred Brand Drugs - 94 Percent,Non-preferred Brand Drugs - 94 Percent,Specialty Drugs - 94 Percent
0,0,AK,2013,Aleutians East,Gold,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1060001,Premera Blue Cross Preferred Gold 1500,Not Applicable,PPO,Rating Area 2,Allows Adult and Child-Only,HIOS,1-800-809-9361,1-800-809-9361,1-800-842-5357,https://premera.sapphirecareselect.com/?ci=pre...,https://www.premera.com/documents/031112_2025.pdf,https://www.premera.com/documents/045632_2025.pdf,https://www.premera.com/documents/052166_2025.pdf,NaN,X,99.28%,NaN,595.39,710.57,778.28,815.64,883.35,994.65,1390.02,2112.26,1556.56,1766.70,1989.30,2780.04,4224.52,2151.95,2362.09,2584.69,3375.43,2747.34,2957.48,3180.08,3970.82,3342.73,3552.87,3775.47,4566.21,1373.67,1478.74,1590.04,1985.41,1969.06,2074.13,2185.43,2580.8,2564.45,2669.52,2780.82,3176.19,NaN,"$1,500",Included in Medical,"$3,000",Included in Medical,"$1,500",Included in Medical,"$6,300",Included in Medical,"$12,600",Included in Medical,"$6,300",Included in Medical,$30,$60,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$15,$45,50% Coinsurance after deductible,40% Coinsurance after deductible,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AK,2013,Aleutians East,Silver,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1060002,Premera Blue Cross Preferred Silver 4500,Not Applicable,PPO,Rating Area 2,Allows Adult and Child-Only,HIOS,1-800-809-9361,1-800-809-9361,1-800-842-5357,https://premera.sapphirecareselect.com/?ci=pre...,https://www.premera.com/documents/031112_2025.pdf,https://www.premera.com/documents/045635_2025.pdf,https://www.premera.com/documents/052166_2025.pdf,NaN,X,99.37%,NaN,679.69,811.18,888.48,931.13,1008.42,1135.48,1586.82,2411.33,1776.96,2016.84,2270.96,3173.64,4822.66,2456.65,2696.53,2950.65,3853.33,3136.34,3376.22,3630.34,4533.02,3816.03,4055.91,4310.03,5212.71,1568.17,1688.11,1815.17,2266.51,2247.86,2367.80,2494.86,2946.2,2927.55,3047.49,3174.55,3625.89,NaN,"$4,500",Included in Medical,"$9,000",Included in Medical,"$4,500",Included in Medical,"$8,100",Included in Medical,"$16,200",Included in Medical,"$8,100",Included in Medical,$30,$60,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$25,$60,50% Coinsurance after deductible,40% Coinsurance after deductible,NaN,"$3,900",Included in Medical,"$7,800",Included in Medical,"$3,900",Included in Medical,"$6,800",Included in Medical,"$13,600",Included in Medical,"$6,800",Included in Medical,$15,$55,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$18,$60,50% Coinsurance after deductible,40% Coinsurance after deductible,NaN,"$1,200",Included in Medical,"$2,400",Included in Medical,"$1,200",Included in Medical,"$2,200",Included in Medical,"$4,400",Included in Medical,"$2,200",Included in Medical,$10,$45,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$15,$45,50% Coinsurance after deductible,40% Coinsurance after deductible,NaN,$400,Included in Medical,$800,Included in Medical,$400,Included in Medical,$650,Included in Medical,"$1,300",Included in Medical,$650,Included in Medical,$10,$40,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$15,$40,50% Coinsurance after deductible,40% Coinsurance after deductible

In [74]:
print(df.columns)

Index(['Unnamed: 0', 'State Code', 'FIPS County Code', 'County Name',
       'Metal Level', 'Issuer Name', 'HIOS Issuer ID',
       'Plan ID (Standard Component)', 'Plan Marketing Name',
       'Standardized Plan Option',
       ...
       'Drug Maximum Out Of Pocket - Family (Per Person) - 94 Percent',
       'Primary Care Physician - 94 Percent', 'Specialist - 94 Percent',
       'Emergency Room - 94 Percent', 'Inpatient Facility - 94 Percent',
       'Inpatient Physician - 94 Percent', 'Generic Drugs - 94 Percent',
       'Preferred Brand Drugs - 94 Percent',
       'Non-preferred Brand Drugs - 94 Percent',
       'Specialty Drugs - 94 Percent'],
      dtype='object', length=150)

In [112]:
df.columns = df.columns.str.replace(r'Premium Adult Individual Age ', 'Prem Single ', regex=True)
df.columns = df.columns.str.replace(r'Premium Couple ', 'Prem Coup ', regex=True)
df.columns = df.columns.str.replace(r'Couple\+1 child, Age ', 'Coup1 ', regex=True)
df.columns = df.columns.str.replace(r'Couple\+2 children, Age ', 'Coup2 ', regex=True)

In [114]:
df_single = df.groupby(['State Code'])[['Prem Single 21', 'Prem Single 30 ', 'Prem Single 40 ', 'Prem Single 50 ', 'Prem Single 60 ']].median().reset_index()
df_single.head(2)

,State Code,Prem Single 21,Prem Single 30,Prem Single 40,Prem Single 50,Prem Single 60
0,AK,739.76,839.62,945.41,1321.20,2007.70
1,AL,438.10,497.23,559.87,782.42,1188.97

In [116]:
df_fam4 = df.groupby(['State Code'])[['Coup2 21', 'Coup2 30 ', 'Coup2 40 ', 'Coup2 50']].median().reset_index()
df_fam4.head(2)

  State Code  Coup2 21  Coup2 30   Coup2 40   Coup2 50
0         AK   2611.34    2811.06    3022.64   3774.22
1         AL   1432.56    1550.82    1676.10   2121.20

In [138]:
# join median income
state = pd.read_csv("data/states.csv")
income = pd.read_csv("data/med_income_2024.csv")
state_income = state.merge(income, how = "inner", on="State")
state_income = state_income[['Abbreviation', 'Income']]
state_income = state_income.rename(columns = {'Abbreviation':'State Code'})
state_income['Income'] = pd.to_numeric(state_income['Income'])
state_income.head(2)

  State Code    Income
0         AL   77363.0
1         AK  104081.0

In [140]:
df_fam4_inc = df_fam4.merge(state_income, how="inner", on = "State Code")
df_fam4_inc.head(2)

  State Code  Coup2 21  Coup2 30   Coup2 40   Coup2 50    Income
0         AK   2611.34    2811.06    3022.64   3774.22  104081.0
1         AL   1432.56    1550.82    1676.10   2121.20   77363.0

In [156]:
df_fam4_inc['yearly coup2 40'] = df_fam4_inc['Coup2 40 ']*12

df_fam4_inc['perc coup2 40'] = df_fam4_inc['yearly coup2 40'].div(df_fam4_inc['Income'])
df_fam4_inc.sort_values(by="perc coup2 40", ascending=False)

,State Code,Coup2 21,Coup2 30,Coup2 40,Coup2 50,Income,yearly coup2 40,perc coup2 40
29,WV,2640.22,2842.16,3056.06,3815.96,71678.0,36672.72,0.511631
0,AK,2611.34,2811.06,3022.64,3774.22,104081.0,36271.68,0.348495
30,WY,2296.02,2471.64,2657.66,3318.50,92028.0,31891.92,0.346546
11,LA,1624.12,1748.34,1879.94,2347.38,74911.0,22559.28,0.301148
18,NE,1903.18,2048.72,2202.92,2750.68,92614.0,26435.04,0.285432
5,FL,1674.29,1802.34,1938.00,2419.88,81514.0,23256.00,0.285301
16,NC,1697.32,1827.12,1964.64,2453.16,82890.0,23575.68,0.284421
15,MT,1698.72,1828.66,1966.28,2455.20,84027.0,23595.36,0.280807
24,SD,1794.70,1931.98,2077.38,2593.94,88996.0,24928.56,0.280109
14,MS,1332.52,1442.54,1559.08,1973.10,67731.0,18708.96,0.276224
2,AR,1371.74,1476.66,1587.80,1982.61,71437.0,19053.60,0.266719
21,OK,1467.46,1579.70,1698.60,2120.96,77160.0,20383.20,0.264168
10,KS,1687.28,1816.34,1953.04,2438.66,89535.0,23436.48,0.261758
1,AL,1432.56,1550.82,1676.10,2121.20,77363.0,20113.20,0.259985
8,IL,1821.98,1961.34,2108.96,2633.36,99215.0,25307.52,0.255078
13,MO,1549.14,1667.62,1793.14,2239.02,84745.0,21517.68,0.253911
25,TN,1451.52,1562.56,1680.16,2097.92,80258.0,20161.92,0.251214
23,SC,1392.40,1498.88,1611.68,2012.44,79830.0,19340.16,0.242267
27,UT,1586.70,1931.82,2010.58,2584.02,100001.0,24126.96,0.241267
28,WI,1563.98,1683.58,1810.30,2260.42,92974.0,21723.60,0.233652
26,TX,1465.32,1577.36,1696.08,2117.82,87594.0,20352.96,0.232356
22,OR,1528.00,1656.00,1788.00,2264.00,94277.0,21456.00,0.227585
20,OH,1415.84,1524.12,1638.83,2046.33,86508.0,19665.96,0.227331
17,ND,1625.42,1749.74,1881.44,2349.26,100188.0,22577.28,0.225349
3,AZ,1371.92,1476.87,1588.01,1982.88,86737.0,19056.12,0.219700
4,DE,1517.78,1633.84,1756.80,2193.64,97743.0,21081.60,0.215684
12,MI,1321.94,1423.06,1530.16,1910.64,87221.0,18361.92,0.210522
9,IN,1213.62,1306.42,1404.74,1754.04,84657.0,16856.88,0.199120
7,IA,1223.73,1317.31,1416.45,1768.65,90921.0,16997.40,0.186947
6,HI,1387.36,1493.48,1605.88,2005.18,111678.0,19270.56,0.172555
19,NH,978.60,1053.42,1132.70,1414.36,113605.0,13592.40,0.119646

In [147]:

#for each row, calculate the decade over decade increase in premiums 

percent_increase_single = df_single.pct_change(axis='columns')
percent_increase_single

,Prem Single 21,Prem Single 30,Prem Single 40,Prem Single 50,Prem Single 60
State Code,,,,,
AK,NaN,0.134990,0.125997,0.397489,0.519603
AL,NaN,0.134969,0.125978,0.397503,0.519606
AR,NaN,0.134999,0.125993,0.397493,0.519596
AZ,NaN,0.135020,0.125975,0.397501,0.519597
DE,NaN,0.134963,0.125984,0.397503,0.519599
FL,NaN,0.134987,0.126001,0.397486,0.519596
HI,NaN,0.135006,0.125986,0.397487,0.519610
IA,NaN,0.134970,0.125985,0.397490,0.519600
IL,NaN,0.135002,0.125994,0.397496,0.519586
IN,NaN,0.134958,0.125983,0.397501,0.519592
KS,NaN,0.135006,0.125988,0.397489,0.519592
LA,NaN,0.134995,0.126005,0.397483,0.519593
MI,NaN,0.135010,0.125985,0.397493,0.519601
MO,NaN,0.134989,0.126001,0.397504,0.519591
MS,NaN,0.134994,0.125986,0.397500,0.519600
MT,NaN,0.135011,0.125982,0.397496,0.519605
NC,NaN,0.134975,0.125996,0.397500,0.519592
ND,NaN,0.134995,0.126000,0.397488,0.519602
NE,NaN,0.134972,0.125997,0.397492,0.519597
NH,NaN,0.134942,0.125985,0.397510,0.519602
OH,NaN,0.134982,0.125991,0.397495,0.519596
OK,NaN,0.134998,0.125999,0.397493,0.519597
OR,NaN,0.137045,0.124294,0.398660,0.519760
SC,NaN,0.134973,0.125980,0.397508,0.519596
SD,NaN,0.135009,0.125986,0.397507,0.519597
TN,NaN,0.135023,0.125988,0.397481,0.519588
TX,NaN,0.134952,0.125995,0.397500,0.519599
UT,NaN,0.389993,0.064029,0.438135,0.410432
WI,NaN,0.134970,0.125999,0.397478,0.519601
WV,NaN,0.134997,0.125985,0.397495,0.519602
WY,NaN,0.135003,0.125989,0.397498,0.519597

In [159]:
df_couple = df.groupby(['State Code'])[['Prem Coup 30 ', 'Prem Coup 40 ', 'Prem Coup 50 ', 'Prem Coup 60 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_couple = df_couple.pct_change(axis='columns')
percent_increase_couple

            Prem Coup 30   Prem Coup 40   Prem Coup 50   Prem Coup 60
State Code
AK                    NaN       0.125997       0.397489       0.519603
AL                    NaN       0.125978       0.397503       0.519606
AR                    NaN       0.125993       0.397493       0.519596
AZ                    NaN       0.125975       0.397501       0.519597
DE                    NaN       0.125984       0.397503       0.519599
FL                    NaN       0.126001       0.397486       0.519596
HI                    NaN       0.125986       0.397487       0.519610
IA                    NaN       0.125985       0.397490       0.519600
IL                    NaN       0.125994       0.397496       0.519586
IN                    NaN       0.125983       0.397501       0.519592
KS                    NaN       0.125988       0.397489       0.519592
LA                    NaN       0.126005       0.397483       0.519593
MI                    NaN       0.125985       0.397493       0.519601
MO                    NaN       0.126001       0.397504       0.519591
MS                    NaN       0.125986       0.397500       0.519600
MT                    NaN       0.125982       0.397496       0.519605
NC                    NaN       0.125996       0.397500       0.519592
ND                    NaN       0.126000       0.397488       0.519602
NE                    NaN       0.125997       0.397492       0.519597
NH                    NaN       0.125985       0.397510       0.519602
OH                    NaN       0.125991       0.397495       0.519596
OK                    NaN       0.125999       0.397493       0.519597
OR                    NaN       0.124294       0.398660       0.519760
SC                    NaN       0.125980       0.397508       0.519596
SD                    NaN       0.125986       0.397507       0.519597
TN                    NaN       0.125988       0.397481       0.519588
TX                    NaN       0.125995       0.397500       0.519599
UT                    NaN       0.064029       0.438135       0.410432
WI                    NaN       0.125999       0.397478       0.519601
WV                    NaN       0.125985       0.397495       0.519602
WY                    NaN       0.125989       0.397498       0.519597

In [165]:
df_30s = df.groupby(['State Code'])[['Prem Single 30 ','Prem Coup 30 ','Coup1 30 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_30s = df_30s.pct_change(axis='columns')
percent_increase_30s

            Prem Single 30   Prem Coup 30   Coup1 30
State Code
AK                      NaN            1.0   0.337004
AL                      NaN            1.0   0.279730
AR                      NaN            1.0   0.337004
AZ                      NaN            1.0   0.337000
DE                      NaN            1.0   0.337008
FL                      NaN            1.0   0.337005
HI                      NaN            1.0   0.337002
IA                      NaN            1.0   0.337004
IL                      NaN            1.0   0.337006
IN                      NaN            1.0   0.336998
KS                      NaN            1.0   0.337008
LA                      NaN            1.0   0.337007
MI                      NaN            1.0   0.336996
MO                      NaN            1.0   0.337007
MS                      NaN            1.0   0.279734
MT                      NaN            1.0   0.337007
NC                      NaN            1.0   0.337007
ND                      NaN            1.0   0.337004
NE                      NaN            1.0   0.337005
NH                      NaN            1.0   0.337004
OH                      NaN            1.0   0.337005
OK                      NaN            1.0   0.337007
OR                      NaN            1.0   0.279661
SC                      NaN            1.0   0.337008
SD                      NaN            1.0   0.337007
TN                      NaN            1.0   0.337008
TX                      NaN            1.0   0.337009
UT                      NaN            1.0   0.285254
WI                      NaN            1.0   0.337002
WV                      NaN            1.0   0.337003
WY                      NaN            1.0   0.337004

In [167]:
df_40s = df.groupby(['State Code'])[['Prem Single 40 ','Prem Coup 40 ','Coup1 40 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_40s = df_40s.pct_change(axis='columns')
percent_increase_40s

            Prem Single 40   Prem Coup 40   Coup1 40
State Code
AK                      NaN            1.0   0.299293
AL                      NaN            1.0   0.248433
AR                      NaN            1.0   0.299295
AZ                      NaN            1.0   0.299296
DE                      NaN            1.0   0.299301
FL                      NaN            1.0   0.299294
HI                      NaN            1.0   0.299295
IA                      NaN            1.0   0.299297
IL                      NaN            1.0   0.299297
IN                      NaN            1.0   0.299292
KS                      NaN            1.0   0.299299
LA                      NaN            1.0   0.299294
MI                      NaN            1.0   0.299290
MO                      NaN            1.0   0.299296
MS                      NaN            1.0   0.248435
MT                      NaN            1.0   0.299301
NC                      NaN            1.0   0.299297
ND                      NaN            1.0   0.299293
NE                      NaN            1.0   0.299295
NH                      NaN            1.0   0.299297
OH                      NaN            1.0   0.299297
OK                      NaN            1.0   0.299296
OR                      NaN            1.0   0.248744
SC                      NaN            1.0   0.299302
SD                      NaN            1.0   0.299300
TN                      NaN            1.0   0.299300
TX                      NaN            1.0   0.299299
UT                      NaN            1.0   0.268089
WI                      NaN            1.0   0.299292
WV                      NaN            1.0   0.299296
WY                      NaN            1.0   0.299296

In [169]:
def scan_pdf(url, word):
    """ scans a pdf from a url looking for a specific word """
    try:
        response = requests.get(url)
        response.raise_for_status()
        pdf_file = io.BytesIP(response.content)
        pdf_reader = PdfReader(pdf_file)

        for page in pdf_reader.pages:
            text = page.extract_text()
            if word in text:
                return True
            return False
    except requests.exceptions.RequestException as e:
        print(f"Error downloading PDF: {e}")
        return False
    except Exception as e:
        print(f"an error occurred: {e}")
        return False

In [191]:
test_url = df['Plan Brochure URL'][200]
search_word = "maternity"

if scan_pdf(test_url, search_word):
    print(f"The word '{search_word}' was found in the PDF.")
else:
    print(f"The word '{search_word}' was not found in the PDF.")

Error downloading PDF: 403 Client Error: Forbidden for url: https://www.premera.com/documents/059782_2025.pdf
The word 'maternity' was not found in the PDF.