In [19]:
import pandas as pd
import numpy as np

import requests
import io
from pypdf import PdfReader

In [139]:
df = pd.read_csv("data/individual_market_medical.csv")
df.head()

,Unnamed: 0,State Code,FIPS County Code,County Name,Metal Level,Issuer Name,HIOS Issuer ID,Plan ID (Standard Component),Plan Marketing Name,Standardized Plan Option,...,Drug Maximum Out Of Pocket - Family (Per Person) - 94 Percent,Primary Care Physician - 94 Percent,Specialist - 94 Percent,Emergency Room - 94 Percent,Inpatient Facility - 94 Percent,Inpatient Physician - 94 Percent,Generic Drugs - 94 Percent,Preferred Brand Drugs - 94 Percent,Non-preferred Brand Drugs - 94 Percent,Specialty Drugs - 94 Percent
0,0,AK,2013,Aleutians East,Gold,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1060001,Premera Blue Cross Preferred Gold 1500,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AK,2013,Aleutians East,Silver,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1060002,Premera Blue Cross Preferred Silver 4500,Not Applicable,...,Included in Medical,$10,$40,30% Coinsurance after deductible,30% Coinsurance after deductible,30% Coinsurance after deductible,$15,$40,50% Coinsurance after deductible,40% Coinsurance after deductible
2,2,AK,2013,Aleutians East,Expanded Bronze,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1060004,Premera Blue Cross Preferred Bronze 6350,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AK,2013,Aleutians East,Expanded Bronze,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1070002,Premera Blue Cross Preferred Bronze 5800 HSA,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AK,2013,Aleutians East,Gold,Premera Blue Cross Blue Shield of Alaska,38344,38344AK1080001,Premera Blue Cross Alaska One Gold,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
print(df.columns)

Index(['Unnamed: 0', 'State Code', 'FIPS County Code', 'County Name',
       'Metal Level', 'Issuer Name', 'HIOS Issuer ID',
       'Plan ID (Standard Component)', 'Plan Marketing Name',
       'Standardized Plan Option',
       ...
       'Drug Maximum Out Of Pocket - Family (Per Person) - 94 Percent',
       'Primary Care Physician - 94 Percent', 'Specialist - 94 Percent',
       'Emergency Room - 94 Percent', 'Inpatient Facility - 94 Percent',
       'Inpatient Physician - 94 Percent', 'Generic Drugs - 94 Percent',
       'Preferred Brand Drugs - 94 Percent',
       'Non-preferred Brand Drugs - 94 Percent',
       'Specialty Drugs - 94 Percent'],
      dtype='object', length=150)

In [145]:
df.columns = df.columns.str.replace(r'Premium Adult Individual Age ', 'Prem Single ', regex=True)
df.columns = df.columns.str.replace(r'Premium Couple ', 'Prem Coup ', regex=True)
df.columns = df.columns.str.replace(r'Couple\+1 child, Age ', 'Coup1 ', regex=True)

In [195]:
df_single = df.groupby(['State Code'])[['Prem Single 21', 'Prem Single 30 ', 'Prem Single 40 ', 'Prem Single 50 ', 'Prem Single 60 ']].median()
df_single['Prem Single 21'].sort_values(ascending=False)

State Code
WV    747.940
AK    739.760
WY    650.430
NE    539.150
IL    516.140
SD    508.410
MT    481.220
NC    480.830
KS    477.980
FL    474.305
OR    467.000
ND    460.460
LA    460.090
WI    443.060
UT    442.470
MO    438.850
AL    438.100
DE    429.970
OK    415.710
TX    415.110
TN    411.190
MS    407.500
OH    401.090
SC    394.450
HI    393.020
AZ    388.645
AR    388.595
MI    374.490
IA    346.670
IN    343.810
NH    277.230
Name: Prem Single 21, dtype: float64

In [ ]:
# join median income

In [147]:

#for each row, calculate the decade over decade increase in premiums 

percent_increase_single = df_single.pct_change(axis='columns')
percent_increase_single

,Prem Single 21,Prem Single 30,Prem Single 40,Prem Single 50,Prem Single 60
State Code,,,,,
AK,NaN,0.134990,0.125997,0.397489,0.519603
AL,NaN,0.134969,0.125978,0.397503,0.519606
AR,NaN,0.134999,0.125993,0.397493,0.519596
AZ,NaN,0.135020,0.125975,0.397501,0.519597
DE,NaN,0.134963,0.125984,0.397503,0.519599
FL,NaN,0.134987,0.126001,0.397486,0.519596
HI,NaN,0.135006,0.125986,0.397487,0.519610
IA,NaN,0.134970,0.125985,0.397490,0.519600
IL,NaN,0.135002,0.125994,0.397496,0.519586
IN,NaN,0.134958,0.125983,0.397501,0.519592
KS,NaN,0.135006,0.125988,0.397489,0.519592
LA,NaN,0.134995,0.126005,0.397483,0.519593
MI,NaN,0.135010,0.125985,0.397493,0.519601
MO,NaN,0.134989,0.126001,0.397504,0.519591
MS,NaN,0.134994,0.125986,0.397500,0.519600
MT,NaN,0.135011,0.125982,0.397496,0.519605
NC,NaN,0.134975,0.125996,0.397500,0.519592
ND,NaN,0.134995,0.126000,0.397488,0.519602
NE,NaN,0.134972,0.125997,0.397492,0.519597
NH,NaN,0.134942,0.125985,0.397510,0.519602
OH,NaN,0.134982,0.125991,0.397495,0.519596
OK,NaN,0.134998,0.125999,0.397493,0.519597
OR,NaN,0.137045,0.124294,0.398660,0.519760
SC,NaN,0.134973,0.125980,0.397508,0.519596
SD,NaN,0.135009,0.125986,0.397507,0.519597
TN,NaN,0.135023,0.125988,0.397481,0.519588
TX,NaN,0.134952,0.125995,0.397500,0.519599
UT,NaN,0.389993,0.064029,0.438135,0.410432
WI,NaN,0.134970,0.125999,0.397478,0.519601
WV,NaN,0.134997,0.125985,0.397495,0.519602
WY,NaN,0.135003,0.125989,0.397498,0.519597

In [159]:
df_couple = df.groupby(['State Code'])[['Prem Coup 30 ', 'Prem Coup 40 ', 'Prem Coup 50 ', 'Prem Coup 60 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_couple = df_couple.pct_change(axis='columns')
percent_increase_couple

            Prem Coup 30   Prem Coup 40   Prem Coup 50   Prem Coup 60
State Code
AK                    NaN       0.125997       0.397489       0.519603
AL                    NaN       0.125978       0.397503       0.519606
AR                    NaN       0.125993       0.397493       0.519596
AZ                    NaN       0.125975       0.397501       0.519597
DE                    NaN       0.125984       0.397503       0.519599
FL                    NaN       0.126001       0.397486       0.519596
HI                    NaN       0.125986       0.397487       0.519610
IA                    NaN       0.125985       0.397490       0.519600
IL                    NaN       0.125994       0.397496       0.519586
IN                    NaN       0.125983       0.397501       0.519592
KS                    NaN       0.125988       0.397489       0.519592
LA                    NaN       0.126005       0.397483       0.519593
MI                    NaN       0.125985       0.397493       0.519601
MO                    NaN       0.126001       0.397504       0.519591
MS                    NaN       0.125986       0.397500       0.519600
MT                    NaN       0.125982       0.397496       0.519605
NC                    NaN       0.125996       0.397500       0.519592
ND                    NaN       0.126000       0.397488       0.519602
NE                    NaN       0.125997       0.397492       0.519597
NH                    NaN       0.125985       0.397510       0.519602
OH                    NaN       0.125991       0.397495       0.519596
OK                    NaN       0.125999       0.397493       0.519597
OR                    NaN       0.124294       0.398660       0.519760
SC                    NaN       0.125980       0.397508       0.519596
SD                    NaN       0.125986       0.397507       0.519597
TN                    NaN       0.125988       0.397481       0.519588
TX                    NaN       0.125995       0.397500       0.519599
UT                    NaN       0.064029       0.438135       0.410432
WI                    NaN       0.125999       0.397478       0.519601
WV                    NaN       0.125985       0.397495       0.519602
WY                    NaN       0.125989       0.397498       0.519597

In [165]:
df_30s = df.groupby(['State Code'])[['Prem Single 30 ','Prem Coup 30 ','Coup1 30 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_30s = df_30s.pct_change(axis='columns')
percent_increase_30s

            Prem Single 30   Prem Coup 30   Coup1 30
State Code
AK                      NaN            1.0   0.337004
AL                      NaN            1.0   0.279730
AR                      NaN            1.0   0.337004
AZ                      NaN            1.0   0.337000
DE                      NaN            1.0   0.337008
FL                      NaN            1.0   0.337005
HI                      NaN            1.0   0.337002
IA                      NaN            1.0   0.337004
IL                      NaN            1.0   0.337006
IN                      NaN            1.0   0.336998
KS                      NaN            1.0   0.337008
LA                      NaN            1.0   0.337007
MI                      NaN            1.0   0.336996
MO                      NaN            1.0   0.337007
MS                      NaN            1.0   0.279734
MT                      NaN            1.0   0.337007
NC                      NaN            1.0   0.337007
ND                      NaN            1.0   0.337004
NE                      NaN            1.0   0.337005
NH                      NaN            1.0   0.337004
OH                      NaN            1.0   0.337005
OK                      NaN            1.0   0.337007
OR                      NaN            1.0   0.279661
SC                      NaN            1.0   0.337008
SD                      NaN            1.0   0.337007
TN                      NaN            1.0   0.337008
TX                      NaN            1.0   0.337009
UT                      NaN            1.0   0.285254
WI                      NaN            1.0   0.337002
WV                      NaN            1.0   0.337003
WY                      NaN            1.0   0.337004

In [167]:
df_40s = df.groupby(['State Code'])[['Prem Single 40 ','Prem Coup 40 ','Coup1 40 ']].median()

#for each row, calculate the decade over decade increase in premiums 

percent_increase_40s = df_40s.pct_change(axis='columns')
percent_increase_40s

            Prem Single 40   Prem Coup 40   Coup1 40
State Code
AK                      NaN            1.0   0.299293
AL                      NaN            1.0   0.248433
AR                      NaN            1.0   0.299295
AZ                      NaN            1.0   0.299296
DE                      NaN            1.0   0.299301
FL                      NaN            1.0   0.299294
HI                      NaN            1.0   0.299295
IA                      NaN            1.0   0.299297
IL                      NaN            1.0   0.299297
IN                      NaN            1.0   0.299292
KS                      NaN            1.0   0.299299
LA                      NaN            1.0   0.299294
MI                      NaN            1.0   0.299290
MO                      NaN            1.0   0.299296
MS                      NaN            1.0   0.248435
MT                      NaN            1.0   0.299301
NC                      NaN            1.0   0.299297
ND                      NaN            1.0   0.299293
NE                      NaN            1.0   0.299295
NH                      NaN            1.0   0.299297
OH                      NaN            1.0   0.299297
OK                      NaN            1.0   0.299296
OR                      NaN            1.0   0.248744
SC                      NaN            1.0   0.299302
SD                      NaN            1.0   0.299300
TN                      NaN            1.0   0.299300
TX                      NaN            1.0   0.299299
UT                      NaN            1.0   0.268089
WI                      NaN            1.0   0.299292
WV                      NaN            1.0   0.299296
WY                      NaN            1.0   0.299296

In [169]:
def scan_pdf(url, word):
    """ scans a pdf from a url looking for a specific word """
    try:
        response = requests.get(url)
        response.raise_for_status()
        pdf_file = io.BytesIP(response.content)
        pdf_reader = PdfReader(pdf_file)

        for page in pdf_reader.pages:
            text = page.extract_text()
            if word in text:
                return True
            return False
    except requests.exceptions.RequestException as e:
        print(f"Error downloading PDF: {e}")
        return False
    except Exception as e:
        print(f"an error occurred: {e}")
        return False

In [191]:
test_url = df['Plan Brochure URL'][200]
search_word = "maternity"

if scan_pdf(test_url, search_word):
    print(f"The word '{search_word}' was found in the PDF.")
else:
    print(f"The word '{search_word}' was not found in the PDF.")

Error downloading PDF: 403 Client Error: Forbidden for url: https://www.premera.com/documents/059782_2025.pdf
The word 'maternity' was not found in the PDF.